name: Called Workflow
on:
  workflow_call:
    inputs:
      guild:
        type: string
        required: true
      environment:
        type: string
    secrets:
      guildpact:
jobs:
  display-guild:
    name: Display Guild
    runs-on: ubuntu-latest
    steps:
      - name: Display Guild Input
        run: |
          echo "Guild: ${{ inputs.guild }}"
  summarise-guildpact:
    name: Summarise Guildpact
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Message based on Guildpact
        env:
          GUILDPACT: ${{ secrets.guildpact }}
        run: |
          if [[ "$GUILDPACT" = "Jace" ]]; then
            echo "Blue Mage"
          elif [[ "$GUILDPACT" = "Niv-Mizzet" ]]; then
            echo "Vain Dragon"
          else
            echo "Some nobody"
          fi
  display-cards:
    name: Display Cards
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Display cards
        env:
          VARS: ${{ toJSON(vars) }}
          SECRETS: ${{ toJSON(secrets) }}
          PREFIX: CARD_
        run: |
          filter_props() {
            jq --arg prefix "$PREFIX" --compact-output '
              with_entries(
                select( .key | startswith($prefix) )
                | { key: .key[($prefix | length):], value }
                )'
          }
          PROPS=$(filter_props <<< "$VARS")
          SECURE_PROPS=$(filter_props <<< "$SECRETS")
          jq \
            --null-input \
            --arg props "$PROPS" \
            --args secureProps "$SECURE_PROPS" \
            '$props + $secureProps'
